body {
    background-color: white;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 100%;
  }
h1 {
  color:black;
}
p {
  color:black;
}
#horizon {
  width: 100%;
  background-color: #C5DC6D;
  background-image: url(assets/losange_pattern.png) ;
  /* position: absolute; */
  display: block;
}
#horizon svg {
  height: 49%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  fill:#C5DC6D;
  /* background-color: #C5DC6D; */
  background-image: url(assets/losange_pattern.png) ;
}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -300px;
  display: block;
  max-width: 600px;
}
